<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 注解 -->
    <mvc:annotation-driven>
    	<mvc:message-converters>
    		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
    			<constructor-arg value="utf-8"></constructor-arg>
    		</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>
    <context:component-scan base-package="cn.sys.handler">
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />   
    	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />  
    </context:component-scan>
    <!-- 处理静态资源 -->
	<mvc:default-servlet-handler/>
    
  <!--   视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为5MB -->
		<property name="maxUploadSize">
			<value>524288000</value>
		</property>
	</bean>
</beans>